.instructionContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
    height:530px;
    
  
    
  }
  .instructionBlock {
    margin:2px;
    width: 50%;
    height:250px;
    overflow:hidden; 
    border:1px solid #000;
    padding:2px;
    padding-bottom: 0px;
    margin:0;
    overflow:visible;
    
  }
  .instructionImage{
    padding: 5px;
    height:200px;
    width:100%;
  }
  .instructionImage img{
    width:100%;
  }
  .instructionDropDown{
    height:50px;
    overflow:visible;
  }